<html>
<h2>List of Sensors</h2>
<body>
    <p>
        {{message}}
    </p>
    {% for sensor in sensors %}
            <li><b>{{sensor}}</b>
                <a href="{{ url_for('download',sensor_name=sensor)}}">(download csv)</a>
                <ul>
                    <li>
                        <a href="{{ url_for('showcsvbyseason',sensor_name=sensor,season=4)}}">Season 4</a>
                        <a href="{{ url_for('resubmitbyseason',sensor_name=sensor,season=4)}}">(S4 Resubmission)</a>
                    </li>
                    <li>
                        <a href="{{ url_for('showcsvbyseason',sensor_name=sensor,season=6)}}">Season 6</a>
                        <a href="{{ url_for('resubmitbyseason',sensor_name=sensor,season=6)}}">(S6 Resubmission)</a>
                    </li>
                    <li>
                        <a href="{{ url_for('showcsvbyseason',sensor_name=sensor,season=9)}}">Season 9</a>
                        <a href="{{ url_for('resubmitbyseason',sensor_name=sensor,season=9)}}">(S9 Resubmission)</a>
                    </li>
                    <li>
                        <a href="{{ url_for('showcsvbyseason',sensor_name=sensor,season=10)}}">Season 10</a>
                    </li>
                    <li><a href="{{ url_for('showcsv',sensor_name=sensor)}}">Last 2 Weeks</a></li>
                    <li><a href="{{ url_for('showcsv',sensor_name=sensor,days=0)}}">All Available Dates</a></li>
                </ul>
            </li>
         {% endfor %}
    <br>
    <a href="{{ url_for('dateoptions')}}">Select dates for new file count</a>
    <br>
    <a href="{{ url_for('archive')}}">Archive existing csv files</a>
</body>
</html>