<html>
<h2>List of Sensors</h2>
<body>
    {% for sensor in sensors %}

            <li>{{sensor}}
                <a href="{{ url_for('showcsv',sensor_name=sensor)}}">Last 2 Weeks</a>
                <a href="{{ url_for('showcsv',sensor_name=sensor,days=0)}}">All Available</a>
                <a href="{{ url_for('download',sensor_name=sensor)}}">download as csv</a>
            </li>

         {% endfor %}
     <a href="{{ url_for('dateoptions')}}">Select dates for new file count</a>
</body>
</html>