<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Season Slider</title>
    <script>
    function outputUpdate(day) {
        document.querySelector('#selected-day').value = day;
    }
    </script>
    <script>
    function onClickNext() {
        console.log("clicking next")
        var counter = $('#TextBox').val();
        counter++ ;
        $('#TextBox').val(counter);
    }
    </script>
      <script>
    function onClickPrevious() {
        console.log("clicking next")
        var counter = $('#TextBox').val();
        counter-- ;
        $('#TextBox').val(counter);
    }
    </script>
</head>
<body>
    {{message}}
    <div>
        {{dateslider}} is dateslider
    </div>
    <div class="val_of_slider">

        <input type="text" name="SlideValue" id="SlideValue" value="0" />
    </div>

    <br>
    <form>
        <p>
        <input type="text" name="TextBox" id="TextBox" value="0" />
        <!--<input type="Button" id='AddButton' value="+" />-->
        <!--<input type="Button" id='SubtractButton' value="-" />-->

        <script src="http://code.jquery.com/jquery-1.4.3.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#AddButton').click( function() {
                    var counter = $('#TextBox').val();
                    counter++ ;
                    $('#TextBox').val(counter);
                });
                  $('#SubtractButton').click( function() {
                    var counter = $('#TextBox').val();
                    counter-- ;
                    $('#TextBox').val(counter);
                });
                  $('#SubtractButton').click( function() {
                    var counter = $('#TextBox').val();
                    counter-- ;
                    $('#TextBox').val(counter);
                });
            });
        </script>
            <output for="day" id="selected-day">{{ form.day.data }}</output>
            <br>
           {{ form.day.label }}:
           {{ form.day(min=0, max=5, oninput="outputUpdate(value)") }}
        </p>
    </form>
    <button type="button" onclick="onClickPrevious(this)" name="enable">Previous</button>
    <button type="button" onclick="onClickNext(this)" name="enable">Next</button>

    <br>

    <div class="col-md-8">
        <input class = "slider" type="range" id="rangeInput" min="0" max="100" value="50" oninput="amount.value=rangeInput.value" onchange="updateTextInput(this.value);">
        <!--<input type="text" id="textInput" value="">-->
        <br>
        <output id="amount" name="amount" for="rangeInput">0</output>

        <script>
            function updateTextInput(val) {
            document.getElementById('textInput').value=val;
        }
        </script>
        <br>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        $(".slider").change(function() {
            console.log('slider value', $(".slider").val());
            $.ajax({
                url: "/get_slider_value",
                type: "get",
                data: {value: $(".slider").val()},
                success: function(response) {
                console.log(response);
                $('#SlideValue').val(response.value);

            },

       });
        });
    </script>
    <form>
            <input class="target" type="text" value="Field 1">
            <select class="target"><option value="option1" selected="selected">Option 1</option>
            <option value="option2">Option 2</option>
            </select>
    </form>
    <div id="other">
        Trigger the handler
    </div>
    <script>
        $( ".target" ).change(function() {
            alert( "Handler for .change() called." );

        });
    </script>

</body>
</html>