<html>
  <head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>
   <body>
        <div>
            {{message}}
        </div>

        <div>
           <input class = "slider" type="range" id="rangeInput" min="0" max="{{slider_val}}" value="0" oninput="amount.value=rangeInput.value">
           <br>
           <output id="date" name="date">{{current_date}}</output>
        </div>
        <div class='image_display'>
            <output type="text" name="nameoffile" id="nameoffile"></output>
            <br>
            <img src="{{photo}}" id='season_display' height="500">
        </div>
   </body>
   <script>
    $(document).ready(function(){
      document.getElementById('nameoffile').value = "{{file_name}}"
    });
   </script>
  <script>
        $(".slider").change(function() {
        console.log('slider value', $(".slider").val());
            $.ajax({
                url: "/get_thumbnail_by_number",
                type: "get",
                data: {value: $(".slider").val()},
                success: function(response) {
                    console.log(response);
                    $('#season_display').attr('src', response.photo);
                    document.getElementById('nameoffile').value = response.file_name;
                    document.getElementById('date').value = response.current_date;

                },

            });
        });

    </script>
</html>